body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: whitesmoke;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: whitesmoke;
  }
}

#reels {
  display: flex;
  width: 100vw;
  height: calc((3 / 5) * 100vw);
  max-height: calc(90vh - 50px - 40px);
  max-width: calc((5 / 3) * (90vh - 50px - 40px));
}

.reel {
  overflow: hidden;
  width: 20%;
  height: 100%;
}

.reel > .icons > img {
  width: calc(100% + 6px);
  margin: -3px 0 0 -3px;
  height: auto;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

#slot {
  display: flex;
  flex-direction: row;
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}

#spin {
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Sit on top */
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

#modal-content {
  height: 20%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#goodbye {
  display: none;
}

.blur {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

/*  Knob */
#knob {
  /*width: 200vw;*/
}

#slot-trigger {
  display: flex;
  cursor: pointer;
  position: absolute;
  height: calc((3 / 5) * 100vw);
  max-height: calc(90vh - 50px - 40px);
}

#slot-trigger div {
  position: absolute;
  top: 0;
}

#slot-trigger .ring1 {
  background: #282828;
  background: -moz-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #282828),
    color-stop(14%, #959595),
    color-stop(37%, #d1d1d1),
    color-stop(49%, #bababa),
    color-stop(67%, #959595),
    color-stop(100%, #212121)
  );
  background: -webkit-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -o-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -ms-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: linear-gradient(
    to bottom,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  width: 24px;
  z-index: 2;
}

#slot-trigger .ring1 .shadow {
  background: -moz-linear-gradient(
    top,
    rgba(149, 149, 149, 0.2) 0%,
    rgba(13, 13, 13, 0.18) 46%,
    rgba(1, 1, 1, 0.18) 50%,
    rgba(10, 10, 10, 0.18) 53%,
    rgba(78, 78, 78, 0.17) 76%,
    rgba(56, 56, 56, 0.16) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(149, 149, 149, 0.2)),
    color-stop(46%, rgba(13, 13, 13, 0.18)),
    color-stop(50%, rgba(1, 1, 1, 0.18)),
    color-stop(53%, rgba(10, 10, 10, 0.18)),
    color-stop(76%, rgba(78, 78, 78, 0.17)),
    color-stop(87%, rgba(56, 56, 56, 0.16)),
    color-stop(100%, rgba(27, 27, 27, 0.15))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(149, 149, 149, 0.2) 0%,
    rgba(13, 13, 13, 0.18) 46%,
    rgba(1, 1, 1, 0.18) 50%,
    rgba(10, 10, 10, 0.18) 53%,
    rgba(78, 78, 78, 0.17) 76%,
    rgba(56, 56, 56, 0.16) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(149, 149, 149, 0.2) 0%,
    rgba(13, 13, 13, 0.18) 46%,
    rgba(1, 1, 1, 0.18) 50%,
    rgba(10, 10, 10, 0.18) 53%,
    rgba(78, 78, 78, 0.17) 76%,
    rgba(56, 56, 56, 0.16) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(149, 149, 149, 0.2) 0%,
    rgba(13, 13, 13, 0.18) 46%,
    rgba(1, 1, 1, 0.18) 50%,
    rgba(10, 10, 10, 0.18) 53%,
    rgba(78, 78, 78, 0.17) 76%,
    rgba(56, 56, 56, 0.16) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(149, 149, 149, 0.2) 0%,
    rgba(13, 13, 13, 0.18) 46%,
    rgba(1, 1, 1, 0.18) 50%,
    rgba(10, 10, 10, 0.18) 53%,
    rgba(78, 78, 78, 0.17) 76%,
    rgba(56, 56, 56, 0.16) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  height: 50%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 1;
}

#slot-trigger .ring2 {
  background: #282828;
  background: -moz-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #282828),
    color-stop(14%, #959595),
    color-stop(37%, #d1d1d1),
    color-stop(49%, #bababa),
    color-stop(67%, #959595),
    color-stop(100%, #212121)
  );
  background: -webkit-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -o-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: -ms-linear-gradient(
    top,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  background: linear-gradient(
    to bottom,
    #282828 0%,
    #959595 14%,
    #d1d1d1 37%,
    #bababa 49%,
    #959595 67%,
    #212121 100%
  );
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.8);
  height: 80%;
  left: 8px;
  overflow: hidden;
  top: 10%;
  width: 30px;
  z-index: 1;
}

#slot-trigger .ring2 .shadow {
  background: -moz-linear-gradient(
    top,
    rgba(149, 149, 149, 0.15) 0%,
    rgba(13, 13, 13, 0.15) 46%,
    rgba(1, 1, 1, 0.15) 50%,
    rgba(10, 10, 10, 0.15) 53%,
    rgba(78, 78, 78, 0.15) 76%,
    rgba(56, 56, 56, 0.15) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(149, 149, 149, 0.15)),
    color-stop(46%, rgba(13, 13, 13, 0.15)),
    color-stop(50%, rgba(1, 1, 1, 0.15)),
    color-stop(53%, rgba(10, 10, 10, 0.15)),
    color-stop(76%, rgba(78, 78, 78, 0.15)),
    color-stop(87%, rgba(56, 56, 56, 0.15)),
    color-stop(100%, rgba(27, 27, 27, 0.15))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(149, 149, 149, 0.15) 0%,
    rgba(13, 13, 13, 0.15) 46%,
    rgba(1, 1, 1, 0.15) 50%,
    rgba(10, 10, 10, 0.15) 53%,
    rgba(78, 78, 78, 0.15) 76%,
    rgba(56, 56, 56, 0.15) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(149, 149, 149, 0.15) 0%,
    rgba(13, 13, 13, 0.15) 46%,
    rgba(1, 1, 1, 0.15) 50%,
    rgba(10, 10, 10, 0.15) 53%,
    rgba(78, 78, 78, 0.15) 76%,
    rgba(56, 56, 56, 0.15) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(149, 149, 149, 0.15) 0%,
    rgba(13, 13, 13, 0.15) 46%,
    rgba(1, 1, 1, 0.15) 50%,
    rgba(10, 10, 10, 0.15) 53%,
    rgba(78, 78, 78, 0.15) 76%,
    rgba(56, 56, 56, 0.15) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(149, 149, 149, 0.15) 0%,
    rgba(13, 13, 13, 0.15) 46%,
    rgba(1, 1, 1, 0.15) 50%,
    rgba(10, 10, 10, 0.15) 53%,
    rgba(78, 78, 78, 0.15) 76%,
    rgba(56, 56, 56, 0.15) 87%,
    rgba(27, 27, 27, 0.15) 100%
  );
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  height: 50%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 1;
}

#slot-trigger .arm {
  background: #0d0d0d;
  background: -moz-linear-gradient(
    left,
    #0d0d0d 0%,
    #4e4e4e 47%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #0d0d0d),
    color-stop(47%, #4e4e4e),
    color-stop(87%, #383838),
    color-stop(100%, #1b1b1b)
  );
  background: -webkit-linear-gradient(
    left,
    #0d0d0d 0%,
    #4e4e4e 47%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: -o-linear-gradient(
    left,
    #0d0d0d 0%,
    #4e4e4e 47%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: -ms-linear-gradient(
    left,
    #0d0d0d 0%,
    #4e4e4e 47%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: linear-gradient(
    to right,
    #0d0d0d 0%,
    #4e4e4e 47%,
    #383838 87%,
    #1b1b1b 100%
  );
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
  height: 50%;
  left: 35px;
  top: -25px;
  width: 18px;
  z-index: 3;
  overflow: visible !important;
}

#slot-trigger .arm .knob {
  background: #ff6363;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ff6363 0%,
    #cf0404 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #ff6363),
    color-stop(100%, #cf0404)
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ff6363 0%,
    #cf0404 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #ff6363 0%,
    #cf0404 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #ff6363 0%,
    #cf0404 100%
  );
  background: radial-gradient(ellipse at center, #ff6363 0%, #cf0404 100%);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  height: 60px;
  left: -21px;
  top: -40px;
  width: 60px;
  z-index: 4;
}

#slot-trigger .arm-shadow {
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  bottom: 66px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  height: 18px;
  left: 9px;
  top: auto;
  width: 24px;
  z-index: 2;
}

#slotTrigger.slotTriggerDown {
  background-position: 0px -34px;
}

#slotTrigger.slotTriggerDisabled {
  background-position: 0px -68px;
  display: none;
}
